In [123]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [124]:
df=pd.read_csv("/home/user456/Downloads/data.csv")
df

           Name Gender    Count   Probability
0         James      M  5304407  1.451679e-02
1          John      M  5260831  1.439753e-02
2        Robert      M  4970386  1.360266e-02
3       Michael      M  4579950  1.253414e-02
4       William      M  4226608  1.156713e-02
...         ...    ...      ...           ...
147264   Zylenn      M        1  2.736740e-09
147265   Zymeon      M        1  2.736740e-09
147266   Zyndel      M        1  2.736740e-09
147267   Zyshan      M        1  2.736740e-09
147268    Zyton      M        1  2.736740e-09

[147269 rows x 4 columns]

In [125]:
print(len(df["Name"].unique()))

133910

In [126]:
df=df.drop_duplicates(subset=["Name"])
df=df.drop(columns=["Count","Probability"])
df

           Name Gender
0         James      M
1          John      M
2        Robert      M
3       Michael      M
4       William      M
...         ...    ...
147264   Zylenn      M
147265   Zymeon      M
147266   Zyndel      M
147267   Zyshan      M
147268    Zyton      M

[133910 rows x 2 columns]

In [127]:
class model():
    def __init__(self):
        self.male={}
        self.female={}
        self.total_male=0
        self.total_female=0
    def predict(self,name):
        self.name=name.lower().replace(" ","")
        #building of p(name|gender)
        pm=0
        pf=0
        worldsize = len(set(self.male.keys()).union(self.female.keys(), set(self.name))) #for random chars as i just saw lol


        for x in self.name:
            pm += math.log((self.male.get(x, 0) + 1) / (self.total_male + worldsize))   #hopefully correct laplace
            pf += math.log((self.female.get(x, 0) + 1) / (self.total_female + worldsize))

        #p(gender|name) proportional to p(name|gender)*p(gender)
        #as per latest 0.505 and 0.495 but i will take that
        fpm = pm + math.log(0.505)
        fpf = pf + math.log(0.495)

        if fpm > fpf:
            return "M", math.exp(fpm) / (math.exp(fpm) + math.exp(fpf))
        else:
            return "F", math.exp(fpf) / (math.exp(fpm) + math.exp(fpf))

    def train(self,name,gender):
        if gender=="M":
            for x in name:
                if x in self.male:
                    self.male[x]+=1
                else:
                    self.male[x]=1
            self.total_male+=len(name)
        else:
            for x in name:
                if x in self.female:
                    self.female[x]+=1
                else:
                    self.female[x]=1
            self.total_female+=len(name)
    def __str__(self):
        return f"Male:{self.male}\nFemale:{self.female}"

In [128]:
m1=model()

In [129]:
#training the model
for row in df.values:
    
    m1.train(row[0].lower().replace(" ",""),row[1])
print(m1)

Male:{'j': 6995, 'a': 45004, 'm': 11234, 'e': 31670, 's': 16094, 'o': 19804, 'h': 14129, 'n': 28592, 'r': 25070, 'b': 5366, 't': 12896, 'i': 24874, 'c': 7111, 'l': 16780, 'w': 2669, 'd': 13011, 'v': 5027, 'p': 2908, 'y': 9621, 'g': 4348, 'u': 9635, 'k': 8585, 'f': 2228, 'x': 924, 'z': 3228, 'q': 1124, "'": 91, '…': 7, '.': 55, '-': 1826, 'œ': 1, '@': 54, ',': 4, '0': 3, ';': 3, '?': 3, '1': 1, '9': 2, '5': 2, '7': 2, 'ö': 1, '/': 1, '(': 1, ')': 1, '[': 1, '8': 1}
Female:{'m': 17379, 'a': 108753, 'r': 34427, 'y': 24280, 'e': 67559, 'l': 40694, 'i': 53535, 'z': 4751, 'b': 6340, 't': 21504, 'h': 26202, 'p': 3251, 'c': 11255, 'j': 8242, 'n': 51743, 'f': 2410, 'd': 13948, 'g': 5183, 's': 26489, 'u': 9316, 'o': 16295, 'k': 12668, 'v': 5427, 'q': 1344, 'x': 882, 'w': 2222, '-': 5431, 'à': 3, '.': 56, '…': 6, '0': 2, 'œ': 1, "'": 163, '@': 47, ',': 5, '/': 5, '"': 2, ';': 5, '¡': 1, '&': 1, '(': 1}

In [130]:
print(m1.predict("John Wick"))
print(m1.predict("Alexander"))

('M', 0.872261209889407)
('F', 0.5007031602893381)

Ahh this works for some but fails maybe i better add p(name at char i|gender)
Not sure how it will work but let's do this

In [131]:
class model2():
    def __init__(self):
        self.male={}
        self.female={}
        self.total_male=0
        self.total_female=0
    def predict(self,name):
        self.name=name.lower().replace(" ","")
        #building of p(name|gender)
        pm=0
        pf=0
        worldsize = len(set(self.male.keys()).union(self.female.keys(), set(self.name))) #ehh now adds positional too
        for i,x in enumerate(self.name):
            x=str(i)+x
            pm += math.log((self.male.get(x, 0) + 1) / (self.total_male + worldsize))   #hopefully correct laplace
            pf += math.log((self.female.get(x, 0) + 1) / (self.total_female + worldsize))

        #p(gender|name) proportional to p(name|gender)*p(gender)
        #as per latest 0.505 and 0.495 but i will take that
        fpm = pm + math.log(0.505)
        fpf = pf + math.log(0.495)

        if fpm > fpf:
            return "M", math.exp(fpm) / (math.exp(fpm) + math.exp(fpf))
        else:
            return "F", math.exp(fpf) / (math.exp(fpm) + math.exp(fpf))

    def train(self,name,gender):
        if gender=="M":
            for i,x in enumerate(name):
                x=str(i)+x
                if x in self.male:
                    self.male[x]+=1
                else:
                    self.male[x]=1
            self.total_male+=len(name)
        else:
            for i,x in enumerate(name):
                x=str(i)+x
                if x in self.female:
                    self.female[x]+=1
                else:
                    self.female[x]=1
            self.total_female+=len(name)
    def __str__(self):
        return f"Male:{self.male}\nFemale:{self.female}"

In [132]:
m2=model2()

In [133]:
#training the model
for row in df.values:
    
    m2.train(row[0].lower().replace(" ",""),row[1])
print(m2)

Male:{'0j': 4698, '1a': 15064, '2m': 2700, '3e': 4754, '4s': 1977, '1o': 5037, '2h': 1892, '3n': 3763, '0r': 2718, '2b': 998, '4r': 3344, '5t': 1510, '0m': 3340, '1i': 4401, '2c': 1436, '3h': 2478, '4a': 6101, '5e': 3820, '6l': 1562, '0w': 721, '2l': 2882, '3l': 2307, '4i': 4757, '5a': 3559, '6m': 451, '0d': 3931, '2v': 1595, '3i': 4874, '4d': 1406, '2s': 2715, '4p': 257, '5h': 1219, '5r': 2942, '6d': 958, '0c': 2545, '1h': 3126, '2a': 5334, '3r': 3261, '4l': 2359, '6s': 1078, '0t': 3235, '2o': 1711, '3m': 1671, '5s': 1540, '2r': 6200, '6o': 1707, '7p': 109, '8h': 348, '9e': 397, '10r': 155, '2n': 4083, '4e': 5999, '5l': 2437, '2t': 1725, '3t': 2282, '4h': 1741, '6w': 156, '0a': 4463, '1n': 917, '4o': 3322, '5n': 6570, '6y': 597, '0g': 1550, '1e': 6944, '4g': 404, '3a': 6058, '5d': 1196, '0p': 1184, '2u': 1172, '3k': 1296, '2d': 1914, '5w': 187, '0s': 3555, '1t': 582, '2e': 3472, '3v': 1225, '0k': 3674, '6h': 877, '0e': 1697, '1d': 573, '2w': 532, '4u': 1428, '0b': 2334, '1r': 3645, '2i': 3552, '4n': 4709, '3o': 2747, '4t': 1872, '1y': 1746, '2f': 363, '3f': 452, '4b': 369, '0n': 1564, '6a': 2064, '7s': 835, '3c': 955, '0f': 788, '4k': 698, '3y': 1444, '3p': 361, '6n': 3718, '7n': 1587, '1u': 3029, '5o': 2206, '0l': 2049, '4y': 1460, '1c': 248, '3j': 487, '5m': 855, '6i': 1847, '2y': 2043, '3u': 1472, '3g': 839, '1l': 1820, '3x': 194, '7e': 1231, '8r': 386, '5c': 500, '6k': 381, '0h': 1526, '0z': 1130, '4m': 1033, '5y': 975, '6c': 379, '2g': 637, '3s': 2411, '7a': 1127, '8n': 783, '3d': 2210, '5p': 201, '0v': 843, '6t': 824, '3w': 445, '5i': 3085, '6p': 149, '3b': 680, '0i': 722, '1s': 678, '4c': 638, '2k': 1355, '1v': 299, '8l': 272, '7c': 188, '8k': 106, '6r': 1284, '0o': 823, '7h': 535, '1w': 191, '4f': 256, '7d': 434, '7l': 638, '6e': 2131, '2x': 312, '0x': 173, '8o': 548, '7r': 699, '1p': 110, '1m': 607, '7o': 1079, '1b': 466, '5u': 852, '4x': 81, '7i': 769, '5z': 233, '8e': 681, '9r': 238, '7k': 212, '7y': 273, '6g': 193, '4q': 90, '4v': 463, '1z': 335, '5g': 246, '0q': 334, '4z': 241, '1x': 58, '1k': 248, '5v': 324, '8t': 183, '7u': 400, '8s': 558, '5f': 133, '5x': 42, '7g': 147, '7m': 221, '3q': 280, '6u': 603, '3z': 480, '8d': 158, '2p': 352, '5k': 495, '1g': 133, '1f': 68, '0u': 229, '2j': 510, '6x': 19, '8a': 526, '9n': 398, '10o': 158, '4w': 238, '2z': 572, '7t': 405, '0y': 758, '6f': 79, '2q': 287, '9o': 256, '6z': 138, '5b': 265, '6b': 115, '8i': 398, '10e': 221, '4j': 312, '9a': 302, '10n': 225, '1j': 157, '9y': 78, '7f': 48, '8m': 143, '10w': 21, '9s': 358, '8g': 83, '10l': 125, '8y': 113, '8u': 252, '11s': 106, '10y': 46, '6v': 143, '5q': 62, '8z': 22, '9l': 150, '10i': 116, '11o': 81, '9d': 76, '5j': 299, '9g': 49, '11l': 73, '12o': 62, '7z': 49, '9c': 54, '7w': 81, '8c': 93, '9k': 52, '9u': 103, '10s': 177, '9i': 181, '7b': 49, '8f': 19, '7v': 65, '6j': 255, '10a': 164, '9t': 111, '10h': 89, '12n': 73, '13y': 10, '1q': 35, '8v': 35, '8w': 39, '8p': 73, '10k': 33, '9h': 177, '11r': 87, '8q': 8, '6q': 16, '10d': 62, '7j': 167, '10m': 49, '8b': 40, '11e': 120, '11b': 8, '12a': 58, '9m': 92, '11h': 43, '12i': 48, '13n': 42, '11d': 41, '12e': 84, '9b': 22, '10u': 45, '11p': 27, "1'": 28, '11w': 16, '12u': 11, '9j': 33, '11m': 31, '13s': 25, '8x': 10, '12h': 40, '13e': 46, '14r': 23, '11v': 4, '11j': 6, '13h': 18, '14n': 22, '13m': 6, '14e': 29, '10q': 4, '11u': 24, '9w': 23, '4…': 2, '10c': 23, '12l': 47, '10t': 60, '4.': 10, '11a': 109, '13l': 25, '8j': 56, '11i': 59, '11n': 118, '12y': 23, '11y': 41, '10v': 7, '12d': 21, '7x': 14, '13c': 5, '14h': 11, '9v': 16, '11k': 13, '4-': 451, '9f': 8, '11t': 40, '11c': 23, '13t': 15, '2.': 19, '1…': 3, '9p': 37, '10p': 25, '9z': 11, '13r': 28, '12w': 9, '12s': 51, '14l': 13, '13b': 3, '13p': 4, '12f': 3, '12r': 27, '10b': 10, '13o': 29, '13a': 35, '10x': 8, '13d': 16, '3…': 2, '2œ': 1, '12m': 23, '5-': 433, '7-': 185, '12p': 11, '3.': 12, '2-': 65, '9q': 4, '12t': 33, '8-': 63, '12x': 3, '13u': 6, '14a': 19, '13v': 2, '14i': 11, '7q': 4, '9x': 8, '3-': 202, '12k': 12, '14p': 7, '12c': 11, '13k': 3, '13i': 28, '14m': 6, '13f': 3, '1-': 11, '9-': 28, '6-': 333, '1.': 14, "5'": 6, '11-': 19, '12j': 3, '15n': 7, '14o': 14, '14s': 15, '14g': 4, '15e': 22, "2'": 19, '14y': 6, '4@': 15, '10g': 27, "3'": 22, '5@': 14, '14b': 2, '15w': 1, '16e': 9, '6,': 3, '10j': 11, '20': 1, '10-': 20, '13z': 2, '15r': 12, '14u': 4, '15s': 3, '15i': 11, '16c': 2, "4'": 13, '15d': 6, '11g': 16, '16n': 3, '17i': 2, '18s': 3, '12g': 10, '16o': 5, '10z': 8, '7@': 8, '15o': 6, '14d': 5, '12b': 3, '15t': 5, '15y': 2, '17r': 9, '6@': 11, '13g': 5, '13w': 5, '15g': 3, '16r': 7, '18n': 2, '19o': 3, '15-': 4, '16f': 1, '18a': 3, '19n': 4, '20c': 1, '21e': 2, '22s': 1, '23c': 1, '24o': 1, "6'": 2, '17w': 1, '14t': 8, '15h': 6, '17n': 3, '18y': 2, '14v': 1, '16d': 2, '14w': 1, '15a': 4, '17d': 2, '16s': 2, '15l': 8, '14c': 4, '16a': 6, '17e': 4, '18l': 2, '16i': 6, '17a': 7, '18m': 1, '12-': 7, '15c': 3, '16t': 5, '18r': 3, '19i': 2, '20o': 1, '21s': 1, '1;': 1, '12z': 3, '2?': 1, '10f': 4, '2;': 2, '12v': 3, '17l': 3, '18o': 2, '19s': 1, '15m': 2, '16y': 2, '17o': 4, '31': 1, '49': 1, '55': 1, '67': 1, '79': 1, '87': 1, '95': 1, '13-': 3, '16m': 3, '15u': 1, '16l': 5, '18c': 1, '19e': 4, '16h': 1, '19y': 1, '8@': 4, '40': 1, '17u': 2, '18i': 4, '20u': 1, '17s': 3, '20s': 1, '16u': 1, '19k': 1, '14x': 1, "9'": 1, '18v': 2, '20e': 2, '21r': 2, '11f': 3, '16-': 1, '20i': 1, '22l': 1, '4ö': 1, '16w': 2, '30': 1, '20g': 1, '21t': 1, '22o': 1, '23n': 1, '17c': 1, '18k': 1, '17h': 1, '13j': 1, '17y': 1, '11z': 4, '20h': 1, '9@': 1, '4?': 2, '4,': 1, '14-': 1, '15k': 2, '18e': 1, '19l': 1, '1/': 1, '5(': 1, '11)': 1, '6[': 1, '16@': 1, '17b': 1, '19b': 1, '20a': 1, '38': 1, '14k': 3, '15p': 1, '18g': 1, '20l': 1, '21o': 1, '16x': 1}
Female:{'0m': 6973, '1a': 24641, '2r': 9753, '3y': 3635, '0e': 3171, '1l': 3869, '2i': 6538, '3z': 872, '4a': 13162, '5b': 309, '6e': 6040, '7t': 875, '8h': 574, '0p': 1700, '2t': 3328, '3r': 6284, '4i': 11297, '5c': 838, '6i': 4153, '7a': 7656, '0j': 5309, '1e': 11928, '2n': 8538, '3n': 7170, '5f': 121, '7r': 831, '0l': 5399, '1i': 8071, '3d': 2409, '0b': 2758, '3b': 886, '5r': 2738, '6a': 13166, '3g': 886, '2s': 4209, '3s': 3866, '0s': 8353, '3a': 10992, '4h': 2716, '1u': 3754, '4n': 8065, '0d': 4334, '1o': 6273, '3o': 2628, '4t': 3096, '5h': 3350, '6y': 1957, '0h': 1582, '2l': 7216, '3e': 9607, '0k': 6253, '0n': 3409, '3c': 1210, '4y': 5046, '3t': 2719, '0a': 9319, '1s': 1001, '2h': 2071, '3l': 6969, '4e': 10851, '5y': 3644, '1n': 2455, '4r': 4104, '5a': 14430, '1m': 1614, '2a': 9750, '4d': 1397, '2m': 3747, '6l': 3270, '7y': 870, '2c': 1768, '3h': 3461, '5l': 4968, '7e': 4171, '2u': 1468, '0r': 3598, '0c': 5015, '4l': 6476, '3i': 10914, '4s': 3647, '5s': 2708, '1t': 705, '2e': 6833, '3p': 382, '6n': 6478, '7i': 1767, '8e': 2518, '2b': 1371, '4c': 1119, '6h': 3304, '1h': 7164, '4o': 1678, '5n': 8959, '5e': 8529, '7n': 3345, '2y': 4003, '1y': 3050, '5i': 7377, '2g': 765, '0v': 1362, '1r': 4590, '5t': 2754, '0f': 1146, '6s': 1292, '6r': 1341, '1v': 829, '8a': 3245, '0g': 1810, '0o': 764, '3v': 980, '2d': 2193, '6d': 730, '3q': 312, '4u': 1027, '8n': 1590, '9e': 1549, '0t': 5590, '2o': 2165, '5o': 1101, '2v': 1479, '1b': 334, '6t': 1714, '2f': 433, '3f': 296, '2p': 520, '0i': 1425, '3x': 238, '3m': 2081, '6c': 443, '4p': 184, '2w': 481, '1d': 876, '0w': 626, '3j': 530, '2z': 1082, '1p': 134, '4m': 1124, '5d': 1354, '4k': 1019, '5u': 558, '7h': 1570, '0y': 1280, '1g': 145, '4g': 432, '3k': 1310, '4b': 450, '7c': 214, '7l': 1412, '0z': 1402, '6z': 162, '3u': 1242, '1w': 270, '4v': 365, '7v': 67, '2x': 222, '5m': 768, '2k': 2133, '8i': 783, '9a': 1229, '8t': 358, '4q': 130, '1c': 348, '6p': 105, '1k': 436, '6u': 368, '7p': 41, '5z': 303, '6q': 76, '7u': 295, '2q': 326, '3w': 370, '7d': 314, '7s': 524, '1f': 131, '4f': 177, '8y': 367, '6g': 364, '5w': 152, '0x': 226, '1z': 409, '5g': 315, '6o': 615, '8r': 517, '7z': 70, '7o': 392, '2j': 676, '5v': 193, '0u': 220, '0q': 302, '4j': 462, '6m': 455, '1j': 156, '5k': 814, '5j': 363, '7g': 207, '4w': 151, '5q': 106, '5p': 116, '8o': 307, '9n': 796, '8d': 111, '9t': 141, '8c': 114, '6k': 379, '10a': 538, '6f': 49, '6x': 13, '6v': 94, '4z': 359, '6b': 84, '9b': 31, '10e': 1001, '11t': 54, '12h': 29, '1x': 29, '8k': 64, '8s': 313, '7m': 271, '8l': 514, '9i': 484, '2-': 135, '6j': 322, '7k': 184, '4x': 109, '1q': 35, '9h': 174, '10n': 427, '11d': 42, '12a': 154, '7q': 37, '8u': 179, '9r': 305, '10i': 301, '11n': 232, '12e': 355, '10s': 174, '10l': 121, '11u': 26, '12p': 8, '13e': 174, '7x': 4, '7b': 39, '9l': 244, '9g': 65, '10h': 88, '9y': 188, '7j': 209, '9s': 222, '10u': 53, '11s': 96, '6w': 80, '8b': 25, '4-': 935, '10r': 168, '11m': 27, '13n': 75, '2à': 2, '8g': 105, '5x': 27, '8v': 26, '3-': 458, '8m': 165, '8p': 31, '9d': 94, '8j': 134, '9o': 185, '3.': 37, '8z': 36, '10b': 20, '11e': 667, '12t': 35, '13h': 24, '7w': 38, '12i': 112, '4…': 1, '10o': 100, '11l': 83, '5-': 1505, '10d': 58, '11a': 228, '9w': 18, '8w': 18, '11y': 60, '7f': 29, '9m': 83, '10t': 80, '2…': 2, '11r': 100, '11i': 188, '9c': 64, '11z': 10, '12g': 15, '8x': 4, '10y': 114, '4à': 1, '3…': 2, '9k': 31, '10w': 7, '8q': 8, '9u': 86, '12n': 134, '13a': 87, '9p': 16, '12r': 46, '10m': 43, '12m': 10, '11c': 36, '2.': 11, '14l': 33, '9q': 3, '6-': 1190, '11o': 45, '13i': 58, '9j': 52, '9z': 27, '12y': 35, '13o': 10, '13s': 28, '10k': 20, '11w': 8, '12u': 21, '10c': 52, '12l': 51, '14o': 4, '11h': 58, '13u': 10, '7-': 689, '20': 1, '9f': 5, '10z': 12, '1…': 1, '8-': 322, '3œ': 1, '12c': 11, '11b': 20, '13t': 31, '14h': 20, '12d': 17, '4.': 3, '9-': 126, '12s': 43, '10p': 7, "3'": 26, '10v': 16, "1'": 57, '10g': 43, '14e': 88, "2'": 39, '13z': 3, '8@': 5, '14u': 1, "5'": 13, '14t': 16, '15a': 48, "4'": 13, '12b': 9, '15h': 7, '6,': 2, '9/': 1, '13y': 9, '4@': 6, '14d': 8, '12-': 5, '14a': 63, '15n': 17, '8f': 14, '12k': 5, '14i': 36, '10j': 19, '13l': 46, '14y': 10, '11g': 22, '11-': 10, '14r': 8, '15c': 4, '16e': 16, '17l': 3, '18l': 2, '19e': 5, '12o': 23, '13p': 4, '11f': 3, '14n': 27, '15e': 33, '10-': 33, '14m': 6, '16y': 4, '13c': 14, '6@': 10, '13w': 1, '13m': 5, '15l': 12, '16a': 21, '13b': 2, '15t': 4, '16h': 4, '9v': 13, '13k': 5, '14j': 2, '16r': 3, '17w': 1, '18i': 4, "6'": 3, '13r': 28, '1.': 4, '11k': 7, '4"': 1, '5"': 1, '11j': 4, '14g': 3, '15i': 18, '16d': 1, '7@': 10, '16l': 4, '17e': 13, '1-': 9, "8'": 6, '13g': 3, '15r': 6, '17m': 2, '18a': 5, '19n': 2, '12q': 4, '16-': 2, '17r': 4, '18o': 1, '19b': 1, '20y': 1, '21n': 1, '14s': 6, '16o': 1, '17n': 4, '16i': 4, '11x': 3, '8;': 1, '15-': 4, '18m': 1, '19a': 3, '16n': 15, '17a': 13, '7;': 1, '14-': 6, '19r': 2, '20a': 1, '16k': 2, '10f': 4, '14c': 3, '16s': 1, '15s': 3, '12z': 3, '15y': 5, '16m': 1, '18r': 1, '19i': 1, '20e': 3, '11v': 2, '14q': 1, '15u': 2, '10x': 4, '15o': 3, '1;': 1, '14z': 1, '16b': 1, '18t': 1, '19h': 1, '18e': 6, '15m': 3, '17k': 1, '20u': 1, '15k': 5, '18u': 2, '3;': 2, '5@': 11, '13d': 7, '16u': 3, '12f': 2, '15j': 1, '17d': 3, '18y': 1, '9@': 3, '6/': 1, '12j': 2, '10q': 1, '9x': 3, '14v': 1, "9'": 3, '15q': 1, '17i': 3, '18n': 3, '20t': 1, '21t': 1, '22a': 1, '11p': 3, '16j': 1, '17h': 2, "7'": 3, '16w': 1, '40': 1, '3¡': 1, '5/': 1, '5&': 1, '6(': 1, '14@': 1, '19c': 1, '20h': 2, '21a': 1, '22l': 1, '4,': 1, '4/': 1, '17-': 1, '19l': 1, '21i': 1, '22n': 1, '23e': 1, '10@': 1, '16,': 1, '16g': 2, '17s': 2, '19y': 1, '3,': 1, '16t': 1, '8.': 1, '11q': 2, '16c': 1, '15g': 1, '13-': 1, '1/': 1, '19s': 1, '18h': 1}

In [134]:
print(m2.predict("John Wick"))
print(m2.predict("Alexander"))

('M', 0.9533016302699129)
('M', 0.5988811402746541)

Wooooooo it works gg!!!!!!!!
But the values are very less and smoothing although small may do some issue but i think this is good enough